<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link href="/stylesheets/style.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
    <title><%= title %></title>
  <body>
      <% include header.ejs %> 
    <div class="container">    
      <div class="row">
         <div class="col-sm">
          <h1 class="mt-4">Dashboard</h1>
          <p class="lead mb-3">Welcome user <%= user.firstName %> <%= user.lastName %></p>
          <p>email: <%= user.email %> </p>
          <p>region: <%= user.region %> </p>
        </div>
        <div class="col-sm">
          <h1 class="mt-4">House stats</h1>
          <p>owner: <span id='owner'></span></p>
          <p>region: <span id='region'></span></p>
          <p>consumption: <span id='houseConsumption'></span> / <span id='maxHouseConsumption'></span></p>

          <h1 class="mt-4">Battery stats</h1>
          <p>capacity: <span id='batteryCurrCapacity'></span> / <span id='batteryMaxCapacity'></span></p>

          <h1 class="mt-4">Windturbine stats</h1>
          <p>power: <span id='windTurbineCurrPower'></span> / <span id='windTurbineMaxPower'></span>,  
            Excess power: <span id='windTurbineExcessPower'></span></p>
          <p>current status: <span id='statusMessage'></span></p>


          <h1 class="mt-4">Power plant stats</h1>
          <p>Power plant: <span id='powerPlant'><></p>

          <h1 class="mt-4">Market price stats</h1>
          <p>name: <span id='marketPriceName'><></p>
          <p>base price: <span id='marketPriceElectricityPrice'><></p>
          <p>current price: <span id='marketPriceCurrentPrice'><></p>
        </div>
      </div>
    </div> 
    <footer class="blog-footer mt-5">
      <% include footer.ejs %>
    </footer>
    <script src= 'javascripts/house.js'></script>
  </body>
</html>

