<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://unpkg.com/feather-icons"></script>
  <title><%= title %></title>
</head>

<body>
  <div class="container">
    <% include ./messages %>
    <form class="row text-center col-8 mx-auto d-flex flex-column justify-content-center" method="POST"
      action="/users/signup" id="myForm">
      <div class="logo">
        <a href="/" class="go-back">
          <i class="fas fa-arrow-left"></i>
          <div>Home</div>
        </a>
        <span class="logo-text h1"> GLE </span>
      </div>
      <h1 class="h3 mb-3 font-weight-normal">Please enter information
        <span data-feather="feather"></span>
        <script>
          feather.replace()
        </script>
      </h1>
      <h4 id="status" class="h3 font-weight-normal status d-none"></h4>
      <div class="form-group row">
        <div class="col-6">
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-12">
              <input type="text" name='email' class="form-control" placeholder="Email"
                value="<%= typeof email != 'undefined' ? email : '' %>">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-12">
              <input id="password" type="password" name='password' class="form-control" placeholder="Password">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-12">
              <input id="password2" type="password" name='password2' class="form-control" placeholder="Confirm">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row">
            <label for="inputFirstName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-12">
              <input type="text" name='firstName' class="form-control" placeholder="First name"
                value="<%= typeof firstName != 'undefined' ? firstName : '' %>">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputLastName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-12">
              <input type="text" name='lastName' class="form-control" placeholder="Last name"
                value="<%= typeof lastName != 'undefined' ? lastName : '' %>">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputRegion" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-12">
              <input type="text" name='region' class="form-control" placeholder="Region"
                value="<%= typeof region != 'undefined' ? region : '' %>">
            </div>
          </div>
        </div>
      </div>
      <button onclick="customSubmit()" class="btn btn-lg btn-primary btn-block">Register</button>
      <a class="btn btn-lg btn-primary btn-block" href="/users/signin" role="button">Already a member?</a>
    </form>
  </div>
  <footer class="blog-footer mt-5">
    <% include footer.ejs %>
  </footer>
  <script src='../javascripts/sha512.js'></script>
  <script>
    const password = document.getElementById('password');
    const password2 = document.getElementById('password2');
    const customSubmit = () => {
      const hash = hex_sha512(password.value)
      const hash2 = hex_sha512(password2.value)

      password.value = hash
      password2.value = hash2

      const form = document.getElementById('myForm')

      form.submit()
    }
  </script>
</body>

</html>