<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
    <title><%= title %></title>
</head>

<body>
    <% include header.ejs %>
    <div class="container mt-4">

        <div class="row">


            <% include sidebar.ejs %>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">User status</h1>
                </div>
                <% if (query && query.userBlock) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>User has been blocked!</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %>
                <% if (query && query.role) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Invalid input!</strong> Admin or managers can not be blocked from market.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %>
                <p>List of registered users to the website and their log in status. Block users from selling to the
                    market.</p>
                <% if(users) { %>
                <table class="table table-hover border-bottom mt-3">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Manage user</th>
                            <th scope="col">Status</th>


                            <th scope="col">Block user</th>
                            <th scope="col">Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(const [i, user] of users.entries()) { %>
                        <tr>
                            <th scope="row"><%= i + 1 %></th>
                            <td>
                                <form method="POST" action="/api/user/prosumerDashboard">
                                    <a href="#" onclick="$(this).closest('form').submit()"><%= user.firstName%>
                                        <%= user.lastName%></a>
                                    <input type="hidden" value=<%= user._id%> name="userId" />
                                </form>
                            </td>
                            <td><%= user.email%></td>
                            <td>
                                <form method="POST" action="/api/user/prosumerProfile">
                                    <a href="#" onclick="$(this).closest('form').submit()">Profile</a>
                                    <input type="hidden" value=<%= user._id%> name="userId" />
                                </form>
                            </td>
                            <td>
                                <span class="badge badge-success" id='houseStatus<%= user.id %>'></span>
                                <script src='../javascripts/house.js'></script>
                                <script>
                                    document.addEventListener('DOMContentLoaded', (event) => {
                                        const  getStatusFor<%= user.id %> = () => {
                                            getHouse('<%= user.email %>')
                                                .then(house => {
                                                    const houseStatus = document.getElementById('houseStatus<%= user.id %>')
                                                    houseStatus.innerHTML = house.statusMessage;
                                                    const online = house.statusMessage == "FULLY OPERATIONAL" 
                                                                || house.statusMessage == "FULLY OPERATIONAL: MANUAL CONTROL"
                                                    if (online) {
                                                        houseStatus.style.background = '#28A745';
                                                    } else {
                                                        houseStatus.style.background = '#DC3545';
                                                    }
                                                });
                                        }
                                        getStatusFor<%= user.id %>()
                                        setInterval(getStatusFor<%= user.id %>, 3000)
                                    })
                                </script>
                            </td>
                            <td>
                                <form method="POST" action="/api/simulation/users/userBlock">
                                    <div>
                                        <button type="submit" title="Block user from selling electricity to the market."
                                            class="btn-sm btn-warning">Block</button>
                                        <input type="hidden" value=<%= user.email%> name="userEmail" />
                                        <input type="hidden" value=<%= user.role%> name="userRole" />
                                    </div>
                                </form>
                            </td>
                            <td>
                                <% if (user.isLoggedIn) { %>
                                <span class="badge badge-success">Online</span>
                                <% } else {%>
                                <span class="badge badge-secondary">Offline</span>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <% } %>
        </div>
    </div>

    <footer class="blog-footer mt-5">
        <% include footer.ejs %>
    </footer>
</body>

</html>